<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Single SPA</title>
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <meta name="importmap-type" content="systemjs-importmap"/>
    <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

      1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
      2. UMD - https://github.com/umdjs/umd
      3. Global variable

      More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
    -->
    <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@16.13.1/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@16.13.1/umd/react-dom.production.min.js"
      }
    }

    </script>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

        <script type="systemjs-importmap">
            {
              "imports": {
                "@app2/program2": "//localhost:9002/app2-program2.js",
                "@app1/program": "//localhost:9001/app1-program.js",
                "@master/app": "//localhost:9000/master-app.js",
                "@app3/program3": "//localhost:9003/app3-program3.js"
              }
            }
        </script>


    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
</head>

<body>
<style>
    *, ul{
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
    }

    .navbar {
        background-color: #111D4A;
        color: white;
        font-size: 18px;
        font-weight: bold;
        height: 75px;
        display: flex;
        align-items: center;
        padding-left: 100px;
    }

    .navbar ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        height: 100%;
    }

    .navbar li {
        padding-right: 24px;
        height: 100%;
        cursor: pointer;
    }

    .navbar li:hover {
        opacity: 0.8;
    }

    .navbar a {
        text-decoration: none;
        color: white;
    }
</style>
<div class="navbar" id="nav">
    <ul>
        <a onclick="singleSpaNavigate('/app1')">
            <li>
                app1
            </li>
        </a>
        <a onclick="singleSpaNavigate('/app2')">
            <li>
                app2
            </li>
        </a>
        <a onclick="singleSpaNavigate('/app3')">
            <li>
                app3
            </li>
        </a>
    </ul>

</div>
<div id="app">

</div>

<script>
    System.import('@master/app');
</script>
</body>

</html>